$body-bg: #ECEBDE;
$body-color: #1E201E;

@import "./variables.scss";

$theme-colors: (
  'primary': $custom-primary-color,
  'secondary': $custom-secondary-color
);

body {
  padding: 0px;
}


@import "node_modules/bootstrap/scss/bootstrap";
