$body-bg: #ECEBDE;
$body-color: #1E201E;

@import "./variables.scss";

$theme-colors: (
  'primary': $custom-primary-color,
  'secondary': $custom-secondary-color
);

body {
  padding: 10px;
}

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 900px, // Set max-width for large screens
  xl: 900px,
  xxl: 900px
);

$thumbnail-border-color: $custom-primary-color;

@import "node_modules/bootstrap/scss/bootstrap";
