$custom-primary-color: #25316D;
$custom-secondary-color: #8D0B41; 
$custom-text-grey-primary-color: #4C585B;
$custom-text-grey-secondary-color: #3D3D3D;
 
:export {
  primaryColor: $custom-primary-color;
}