$custom-primary-color: #A3876A;
$custom-secondary-color: #A3876A;
$custom-text-grey-primary-color: #DFD3C3;
$custom-text-grey-secondary-color: #A3876A;
 
:export {
  primaryColor: $custom-primary-color;
}